<p id="notice"><%= notice %></p>

<p>
  <strong>Pick up time:</strong>
  <%= @own.pickuptime2  %>
</p>

<p>
  <strong>Order quantity:</strong>
  <%= @own.orderquantity2 %>
</p>

<p>
  <strong>Bread type:</strong>
  <%= @own.breadtype2 %>
</p>

<p>
  <strong>Spreads:</strong>
  <%= @own.spreads2 %>
</p>

<p>
  <strong>Vegetables:</strong>
  <%= @own.vegetables2 %>
</p>

<p>
  <strong>Sauce:</strong>
  <%= @own.sauce2 %>
</p>

<%= link_to 'Edit', edit_own_path(@own) %> |
<%= link_to 'Back', home_index_path %>
