<p id="notice"><%= notice %></p>

<p>
  <strong>Pickuptime2:</strong>
  <%= @own.pickuptime2 %>
</p>

<p>
  <strong>Orderquantity2:</strong>
  <%= @own.orderquantity2 %>
</p>

<p>
  <strong>Breadtype2:</strong>
  <%= @own.breadtype2 %>
</p>

<p>
  <strong>Spreads2:</strong>
  <%= @own.spreads2 %>
</p>

<p>
  <strong>Vegetables2:</strong>
  <%= @own.vegetables2 %>
</p>

<p>
  <strong>Sauce2:</strong>
  <%= @own.sauce2 %>
</p>

<%= link_to 'Edit', edit_own_path(@own) %> |
<%= link_to 'Back', owns_path %>
