<h2>Confirm Information</h2>
        <p>
          <strong>Order Date:</strong>
          <%#= @order_page.created_at.strftime('%d %b, %Y') %>
        </p>
        <p>
          <strong>Pick Up:</strong>
          <%= @order_page.pick_up_time %>
        </p>
        <p>
          <strong>Quantity:</strong>
          <%= @order_page.order_quantity %>
        </p>
        <p>
          <strong>Bread Type:</strong>
          <%= @order_page.bread_type == true ? "White" : "Brown"%>
        </p>
        <p>
          <strong>Sandwiches Type:</strong>
          <%= @order_page.sandwiches_type == true ? "Standard" : "Own" %>
        </p>
        <p>
          <strong>Spreads:</strong>
          <%= @order_page.spreads%>
        </p>
        <p>
          <strong>Vegetables:</strong>
          <%= @order_page.vegetables%>
        </p>
        <p>
          <strong>Sauces:</strong>
          <%= @order_page.sauces%>
        </p>