  <%= form_for(@order_page)  do |f| %>
    <% if @order_page.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@order_page.errors.count, "error") %> prohibited this order_page from being saved:</h2>

        <ul>
          <% @order_page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  
  
  <div class="date">
     Date <%=  Time.now.strftime('%d %b, %Y')%>
  </div>
  
  <div class="pickuptime">   
    <%= f.label :pickuptime, id: "pick" %>
    <%= f.collection_select(:pickuptime_id, Pickuptime.order("pickuptime"), :id, :pickuptime ) %>
     
  </div>
  
  <div class="quantity">
    <%= f.label :order_quantity %>
     <%= f.range_field :order_quantity, :in => 1..10, :value => 1%>      
      
     <span class="badge badge-warning"><text id="order_quantity">1</text></span>
  </div>   
  
  <div class="breadtype">   
    <%= f.label :bread_type_id, :id => "bread" %><br />
    <%= f.collection_radio_buttons(:bread_type_id, BreadType.order("name"), :id, :name)%>    
  </div>
   
  <div class="spread">
    <%= f.label :spread_id, :id => "labelspread" %><br /> 
    <% Spread.all.each do |spread| %> 
        <%= check_box_tag "spread", spread.id%>
        <%= spread.name %>
    <% end %>      
  </div>
  
  <div class="vegetable">
    <%= f.label :vegetable_id %><br /> 
    <% Vegetable.all.each do |vegetable| %> 
        <%= check_box_tag "order_page[vegetable_ids][]", vegetable.id, f.object.vegetable_ids.include?(vegetable.id)%>
        <%= vegetable.name %>
    <% end %>      
  </div>
  
  <div class="sauce">
    <%= f.label :sauce_id, :id => "labelsauce" %><br /> 
    <% Sauce.all.each do |sauce| %> 
        <%= check_box_tag "order_page[sauce_ids][]", sauce.id%>
        <%= sauce.name %>
    <% end %>      
  </div>
  
  <div class="comment">
    <%= f.label :comment, :id => "comment" %><br />
    <%= f.text_area :comment, class:'wysihtml5', id:'some-textarea', hint:"Write Your Comment Here" %>
  </div> 
   
    <div class="actions">
      <%= f.submit 'Next', :class => "btnform"%>
    </div> 
     
<% end %>
