<%= form_for(@order_page) do |f| %>
  <% if @order_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_page.errors.count, "error") %> prohibited this order_page from being saved:</h2>

      <ul>
      <% @order_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="field">
     Date <%=  Time.now.strftime('%d %b, %Y')%>
  </div>
  
  <div class="field">   
    <%= f.label :pick_up_time %>
    <%= f.select :pick_up_time, ['11.30 - 12.00', '12.00 - 12.30', '12.30 - 13.00', '13.00 - 13.30', '13.30 - 14.00'] %>
     
  </div>
  
  <div class="field">
    <%= f.label :order_quantity %>
     <%= f.select :order_quantity, 1..10 %>  
  </div>   
  
  <div class="field">   
    <%= f.label :bread_type_id %><br />
    <%= f.collection_select(:bread_type_id, BreadType.order("name"), :id, :name) %>    
  </div>
  
  <div class="field">   
    <%= f.label :sandwich_type_id %><br />
    <%= f.select :order_quantity, ['Standar', 'Own']  %>    
  </div>
  
  <div class="field">   
    <%= f.label :spread_id %><br />
    <%= f.collection_select(:spread_id, Spread.order("name"), :id, :name) %>    
  </div>
  
   
    <div class="actions">
      <%= f.submit%>
    </div> 
     
<% end %>
