<h1>Listing Order</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Order quantity</th>
      <th>Bread type</th>
      <th>Sandwiches type</th>
      <th>Pick up time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_pages.each do |order_page| %>
      <tr>
        <td><%= order_page.created_at.strftime('%d %b, %Y') %></td>
        <td><%= order_page.order_quantity %></td>
        <td><%= order_page.bread_type == true ? "White" : "Brown" %></td>
        <td><%= order_page.sandwiches_type == true ? "Standard" : "Own"  %></td>
        <td><%= order_page.pick_up_time %></td>
        <td><%= link_to 'Show', order_page %></td>
        <td><%= link_to 'Edit', edit_order_page_path(order_page) %></td>
        <td><%= link_to 'Destroy', order_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order page', new_order_page_path %>
