<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @order_page.date %>
</p>

<p>
  <strong>Order quantity:</strong>
  <%= @order_page.order_quantity %>
</p>

<p>
  <strong>Bread type:</strong>
  <%= @order_page.bread_type == true ? "White" : "Brown"%>
</p>

<p>
  <strong>Sandwiches type:</strong>
  <%= @order_page.sandwiches_type == true ? "Standard" : "Own" %>
</p>

<p>
  <strong>Pick up time:</strong>
  <%= @order_page.pick_up_time %>
</p>

<%= link_to 'Edit', edit_order_page_path(@order_page) %> |
<%= link_to 'Back', order_pages_path %>
