<h1>Listing spreads</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spreads.each do |spread| %>
      <tr>
        <td><%= spread.item %></td>
        <td><%= spread.price %></td>
        <td><%= spread.quantity %></td>
        <td><%= link_to 'Show', spread %></td>
        <td><%= link_to 'Edit', edit_spread_path(spread) %></td>
        <td><%= link_to 'Destroy', spread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spread', new_spread_path %>
