<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @spread.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @spread.quantity %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @spread.item_price %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @spread.unit_price %>
</p>

<%= link_to 'Edit', edit_spread_path(@spread) %> |
<%= link_to 'Back', spreads_path %>
