<h1>Listing bread_types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bread_types.each do |bread_type| %>
      <tr>
        <td><%= bread_type.item %></td>
        <td><%= bread_type.price %></td>
        <td><%= link_to 'Show', bread_type %></td>
        <td><%= link_to 'Edit', edit_bread_type_path(bread_type) %></td>
        <td><%= link_to 'Destroy', bread_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bread type', new_bread_type_path %>
