<h1>Listing order_qties</h1>

<table class="table">
  <thead>
    <tr>
      <th>Quotes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_qties.each do |order_qty| %>
      <tr>
        <td><%= order_qty.quotes %></td>
        <td><%= link_to 'Show', order_qty %></td>
        <td><%= link_to 'Edit', edit_order_qty_path(order_qty) %></td>
        <td><%= link_to 'Destroy', order_qty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order qty', new_order_qty_path %>
