<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @vegetable.item %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vegetable.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @vegetable.quantity %>
</p>

<%= link_to 'Edit', edit_vegetable_path(@vegetable) %> |
<%= link_to 'Back', vegetables_path %>
