<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @sauce.item %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sauce.price %>
</p>

<%= link_to 'Edit', edit_sauce_path(@sauce) %> |
<%= link_to 'Back', sauces_path %>
