<%= simple_form_for(@standard) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">   
    <%=  f.input :pickuptime1, 
              :collection => [[1, '11.30 - 12.00'], [2, '12.00 - 12.30'],[3, '12.30 - 13.00'],[4, '13.00 - 13.30'],[5, '13.30 - 14.00']], 
              :label_method => :last, 
              :value_method => :first,                  
              :item_wrapper_class => 'inline',
              :checked => true,
              :default => 1
             
    %>    
    
      <%= f.input :orderquantity1, collection:1..10, default:1, class: "order"%>
    
    <%=  f.input :breadtype1, 
            :collection => [[1,'White'],[2,'Brown']],
            :label_method => :last, 
            :value_method => :first,
            :item_wrapper_class => 'inline',
            :checked => true,
            :default => true           
            
    %>
  
    <%=  f.input :spreads1 , 
            :collection => [[1,'Crab'],[2,'Tuna'],[3,'Cheese'],[4,'Turkey'],[5,'Scampi'],[6,'Meatballs'],[7,'Porc'],[8,'Fish']],
            :label_method => :last, 
            :value_method => :first,
            :item_wrapper_class => 'inline',
            :checked => true,
            :default => true           
            
    %>   
 
    
   
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
