<p id="notice"><%= notice %></p>

<p>
  <strong>Pickuptime1:</strong>
  <%= @standard.pickuptime1 %>
</p>

<p>
  <strong>Orderquantity1:</strong>
  <%= @standard.orderquantity1 %>
</p>

<p>
  <strong>Breadtype1:</strong>
  <%= @standard.breadtype1 %>
</p>

<p>
  <strong>Spreads1:</strong>
  <%= @standard.spreads1 %>
</p>

<p>
  <strong>Vegetables1:</strong>
  <%= @standard.vegetables1 %>
</p>

<p>
  <strong>Sauce1:</strong>
  <%= @standard.sauce1 %>
</p>

<%= link_to 'Edit', edit_standard_path(@standard) %> |
<%= link_to 'Back', standards_path %>
