<p id="notice"><%= notice %></p>

<p>
  <strong>Pick up time:</strong>
  <%=  @standard.pickuptime1 %>
</p>

<p>
  <strong>Order quantity:</strong>
  <%= @standard.orderquantity1 %>
</p>

<p>
  <strong>Bread type:</strong>
  <%= @standard.breadtype1 %>
</p>

<p>
  <strong>Spreads:</strong>
  <%= @standard.spreads1 %>
</p>



<%= link_to 'Edit', edit_standard_path(@standard) %> |
<%= link_to 'Back', home_index_path %>
